<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos con más Títulos</title>
</head>
<body>
    <h1> Campeones Europeos</h1>
    <h2>Equipos con más Títulos:</h2>
    <ul>
        <!--utilizo for para no escribir toda la lista de equipos uno por uno-->
        {% for team in teams %}
            <li>
                {{team}}
            </li>
        {% endfor %}
    </ul>

    <h2> Campeones UEFA CHAMPIONS LEAGUE:</h2>
    <ul>
        {% for team, copas in teams_dic.items() %} <!--Itero sobre diccionario-->
        <li>
            {{team}} con {{copas}} títulos
        </li>
        {% endfor %}
    </ul>
</body>
</html>